<div class="row">
  <h1 class="col-md-12">Season Info</h1>
</div>

<div class="card mb-4 p-4">
  <div class="card-body">
    <table class="table table-borderless">
      <tbody>
        <tr class="col-md-12 border-bottom">
          <td class="col-md-6">
            <p><strong>Title:</strong></p>
          </td>
          <td class="col-md-6 text-right">
            <p><%= @season.title %></p>
          </td>
        </tr>
        <tr class="col-md-12">
          <td class="col-md-6">
            <p><strong>Status:</strong></p>
          </td>
          <td class="col-md-6 text-right">
            <p><%= render_status_badge(@season) %></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer d-flex justify-content-center">
    <%= link_to edit_season_path(@season), class: "btn btn-primary btn-sm mr-2" do %>
      <i class="mdi mdi-account-edit mr-2" aria-hidden="true"></i>
      Edit
    <% end %>
    <%= link_to seasons_path, class: "btn btn-secondary btn-sm ml-2" do %>
      <i class="mdi mdi-arrow-left mr-2" aria-hidden="true"></i>
      Back
    <% end %>
  </div>
</div>
