<footer class="footer">
  <div class="container text-white">
    <span>
      <i class="mdi mdi-copyright mr-2" aria-hidden="true"></i>
      <%= Date.today.year %>
      ||
      <%= link_to "Sa-ad", "https://github.com/saadrumon", target: "_blank", class: "ml-2" %>
    </span>
  </div>
</footer>
